<%= form_tag("/login", method: "post", class: "form")do %>
<h1 class= "form-heading">Member Login</h1>
 
  <%= text_field_tag :name,nil, placeholder: 'Name', :class => "regular-input"%><br>
  <%= password_field_tag :password, nil, placeholder: 'Password', :class => "regular-input"%><br>

  <%= submit_tag "Login" %>
  <p>or</p>
  New here? <%= link_to "Create your Account.", "/users/new", :class => "create-account-link"%> 
<%end%>

  
  
