<%= form_for @user, :html => {class: 'form' } do |f|%>
<h1>Sign Up</h1>
    <%= f.text_field :name, placeholder: 'Name', :class => "width-alter"%><br>
    <%= f.password_field :password, placeholder: 'Password', :class => "width-alter"%><br>
        <%@grapes.each do |grape| %>
                <%= f.label grape%>
                <%= f.check_box :preferences, { multiple: true }, grape, false%>       
        <%end%>
    <%= f.submit "Submit" %>
<br>
<%end%>

