<h1>Sign Up</h1>

<%= form_for @user do |f|%>
    <%= f.label :name%><br>
    <%= f.text_field :name%><br>
    <%= f.label :password%><br>
    <%= f.password_field :password%><br>
    
    Grapes :<br> <%@grapes.each do |grape| %>
                <%= f.check_box :preferences, { multiple: true }, grape, false%>
                <%= f.label grape%><br>
             <%end%>
    
    <%= f.submit "Submit" %>
<br>
<%end%>

