
<%= @user.name%>
<ul class="preferences-list">
<%@user.preferences.each do |grape|%>
    <li class = "preferences-cards">
    <%=grape.upcase%><%= link_to image_tag("baseline-close-24px.svg") %>
    </li>
<%end%>
</ul>
<%= link_to "Edit Prefences", edit_user_path(@user) %>

<%@user.purchased.each do |w|%>
<li><%=w.name%></li>
<%=button_to "Review Wine", "/reviews/#{w.id}/new"%>
<%end%>
