<h1> Your Cart </h1>
<% @names.uniq.each do |w| %>
<%= w + " Price per bottle: " + Wine.find_by(name: w).price.to_s + " Quantity: " + @names.count(w).to_s  %> <br>
<%end %>
<h1> Total: $<%=  @cart.total %> </h1>

<%= form_tag cart_path(@cart), method: "update" do -%>
  <%= hidden_field_tag :cart_id, @cart.id -%>
  <%= submit_tag 'Empty Cart', data: {confirm: "Are you sure?"}%>
<%- end -%>