<%= link_to "Your Profile", "users/#{User.find(session[:user_id]).id}", :class => "wines-link", :id => "profile-link"%>
<%= link_to "Shopping Cart", "/carts/#{User.find(session[:user_id]).carts[0].id}", :class => "wines-link", :id=>'cart-link'%>
<%= link_to "Logout", "/logout", :class => "wines-link" , :id => 'logout'%>
<%= link_to "Wines",wines_path, :class => "wines-link", :id => "wines-page-link"%>

<h1>The Wine Room Collection</h1>

<%= form_tag "/wines", :method => 'get' do  %>
<%= select_tag "wine", options_for_select(@grapes.collect{ |grape| [grape, grape] })%>
<%= submit_tag "Filter" %>
<% end %>

<div class="ui grid" id = "ui-grid">
<% @wines.each do |wine|%>
  <div class="four wide column">
            <div class="ui link cards slide-top">
  <div class="card">
    <div class="image">
    <% r = Random.new%>
    <%r = r.rand(1...17)%>
    <% randi = "sample-wine" +r.to_s+ ".jpg"%>
      <%= image_tag randi %>
    </div>
    <div class="content">
      <div class="header"><%=link_to wine.name, wine_path(wine)%></div>
      <div class="meta">
        <p><strong style= "color:black"><%=  wine.color%></strong> Wine from <strong style= "color:black"><%=wine.country%></strong></p>
      </div>
      <div class="description">
       <!-- <div class = "wine-properties">SWEETNESS</div><div class = "wine-properties">DRYNESS</div> -->
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Vintage <%= wine.year%>
      </span>
      <span style="margin-left: -5em;">
        <i class="star icon"></i>
        Rating <%= wine.rating%>
      </span>
    </div>
  </div>
  </div>
  </div>
  <%# end of four wide column %>
  <%end%>
</div>






  